In [19]:
import numpy as np
import pandas as pd
from functools import reduce

In [20]:
def powerset(iterable):
    "powerset([1,2,3]) --> () (1,) (2,) (3,) (1,2) (1,3) (2,3) (1,2,3)"
    s = list(iterable)
    return chain.from_iterable(combinations(s, r) for r in range(len(s)+1))

In [2]:
bakery = pd.read_csv("5000-out2.csv", names=np.arange(50))
bakery

,0,1,2,3,4,5,6,7,8,9,...,40,41,42,43,44,45,46,47,48,49
1,0,0,0,0,1,1,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,0,1,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,1,1,0,0
3,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
5,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4996,0,0,0,0,0,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4997,1,0,1,0,0,0,1,0,0,0,...,0,0,0,0,0,1,1,0,0,0
4998,0,0,0,0,0,0,0,1,0,0,...,0,0,0,0,0,0,0,0,0,1
4999,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
5000,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,1,1,0,0,0,0

In [50]:
sum(bakery[0] & bakery[1] & bakery[2] & bakery[3])

1

In [13]:
#sum(bakery[0])
support = np.array([sum(bakery[i]) for i in bakery.columns])
rsupport = support/len(bakery[0])

In [14]:
support

array([399, 425, 373, 418, 480, 438, 191, 554, 230, 409, 193, 391, 367,
       211, 391, 380, 426, 381, 460, 354, 222, 194, 477, 320, 321, 226,
       199, 418, 499, 353, 228, 371, 411, 385, 216, 446, 391, 407, 214,
       200, 324, 339, 461, 310, 386, 513, 404, 367, 335, 327])

In [15]:
rsupport

array([0.0798, 0.085 , 0.0746, 0.0836, 0.096 , 0.0876, 0.0382, 0.1108,
       0.046 , 0.0818, 0.0386, 0.0782, 0.0734, 0.0422, 0.0782, 0.076 ,
       0.0852, 0.0762, 0.092 , 0.0708, 0.0444, 0.0388, 0.0954, 0.064 ,
       0.0642, 0.0452, 0.0398, 0.0836, 0.0998, 0.0706, 0.0456, 0.0742,
       0.0822, 0.077 , 0.0432, 0.0892, 0.0782, 0.0814, 0.0428, 0.04  ,
       0.0648, 0.0678, 0.0922, 0.062 , 0.0772, 0.1026, 0.0808, 0.0734,
       0.067 , 0.0654])

In [37]:
def supports_vectorized(itemsets, matrix, minSup=0):
    supports_dict = {iset: 0 for iset in itemsets}
    for iset in itemsets:
        supports_dict[iset] = sum(reduce((lambda x,y: x&y), [matrix[item] for item in iset])):
    rm_list = []
    for iset in supports_dict.keys():
        if supports_dict[iset] < minSup:
            rm_list.append(iset)
    for iset in rm_list:
        supports_dict.pop(iset)
    return supports_dict
    #occurence_col = matrix[itemset[0]]
    #for i in range(1, len(itemset)):
    #    occurence_col = occurence_col & matrix[itemset[i]]
    #return sum(occurence_col)

In [41]:
def supports(itemsets, matrix, minSup=0):
    supports_dict = {iset: 0 for iset in itemsets}
    for idx in matrix.index:
        for iset in itemsets:
            row = matrix.loc[idx]
            if reduce((lambda x,y: x&y), [row[item] for item in iset]) == 1:
                supports_dict[iset] += 1
    rm_list = []
    for iset in supports_dict.keys():
        if supports_dict[iset] < minSup:
            rm_list.append(iset)
    for iset in rm_list:
        supports_dict.pop(iset)
    return supports_dict

In [39]:
supports([(0,1,2,3), (0,), (1,), (0,1), (0,1,2), (0,2)], bakery)

{(0, 1, 2, 3): 1, (0,): 399, (1,): 425, (0, 1): 15, (0, 1, 2): 4, (0, 2): 171}

In [88]:
def candidate_gen(tuple_list):
    C = []
    for t1 in tuple_list:
        for t2 in tuple_list:
            f1 = set(t1)
            f2 = set(t2)
            if len(f1.union(f2)) == len(f1) + 1:
                c = f1.union(f2)
                flag = True
                for subset in powerset_one_less(c):
                    if subset != t1 and subset != t2 and tuple(subset) not in tuple_list:
                        flag = False
                if flag and c not in C:
                    C.append(c)
    
    return [tuple(c) for c in C]

In [64]:
def apriori(matrix, total_itemset, minSup):
    all_supports_dict = {}
    level_1 = supports([(i,) for i in total_itemset], matrix)
    k = 2
    while(k <= len(total_itemset) and len(all_supports_dict[k-1].values()) > 0):

SyntaxError: unexpected EOF while parsing (<ipython-input-64-a6dd6a960704>, line 6)

In [90]:
x = supports([(i,) for i in range(50)], bakery, 100)
x

{(0,): 399,
 (1,): 425,
 (2,): 373,
 (3,): 418,
 (4,): 480,
 (5,): 438,
 (6,): 191,
 (7,): 554,
 (8,): 230,
 (9,): 409,
 (10,): 193,
 (11,): 391,
 (12,): 367,
 (13,): 211,
 (14,): 391,
 (15,): 380,
 (16,): 426,
 (17,): 381,
 (18,): 460,
 (19,): 354,
 (20,): 222,
 (21,): 194,
 (22,): 477,
 (23,): 320,
 (24,): 321,
 (25,): 226,
 (26,): 199,
 (27,): 418,
 (28,): 499,
 (29,): 353,
 (30,): 228,
 (31,): 371,
 (32,): 411,
 (33,): 385,
 (34,): 216,
 (35,): 446,
 (36,): 391,
 (37,): 407,
 (38,): 214,
 (39,): 200,
 (40,): 324,
 (41,): 339,
 (42,): 461,
 (43,): 310,
 (44,): 386,
 (45,): 513,
 (46,): 404,
 (47,): 367,
 (48,): 335,
 (49,): 327}

In [81]:
y = candidate_gen(x.keys())
z = supports(y, bakery, 100)
z

{(18, 3): 436,
 (35, 3): 216,
 (9, 4): 422,
 (5, 22): 472,
 (37, 7): 412,
 (45, 7): 338,
 (16, 32): 220,
 (16, 45): 350,
 (18, 35): 512,
 (27, 28): 496,
 (32, 16): 220,
 (32, 45): 348,
 (3, 35): 216,
 (45, 37): 168,
 (37, 45): 168}

In [89]:
supports(candidate_gen(z), bakery, 100)

{(35, 18, 3): 204, (45, 37, 7): 154, (16, 32, 45): 164}

In [31]:
def powerset_one_less(iterable):
    sets = []
    s = list(iterable)
    for i in range(len(iterable)):
        sets.append(set(s[0:i]+s[i+1:]))
    return sets

In [75]:
tuple({5,3})

(3, 5)

In [ ]:
y